#dark-mode {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem;
}

#dark-mode[aria-checked='false']::after,
#dark-mode[aria-checked='true']::after {
  position: absolute;
  z-index: 10;
  content: '';
  width: 50%;
  height: 100%;
  background-color: red;
  top: 0;
}

#dark-mode[aria-checked='false']::after {
  right: 0;
}
#dark-mode[aria-checked='true']::after {
  left: 0;
}
