.App {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

/*--------------------Accordion------------------------*/

.accordion {
  width: 40ch;
}

details {
  padding-block: 0.5rem;
  border-radius: 5px;
}

details > summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: full;
  list-style: none;

  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #638bee;
  color: white;
}

.summary-widget {
  font-weight: bold;
}

details[open] > p {
  padding-top: 0.5rem;
  padding-inline: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

ul {
  padding: 0;
}

/*------------------Content Slider ----------------------*/

.list {
  overflow-x: scroll;
  display: flex;
}

.item {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20rem;
  height: 20rem;
  border: black solid 2px;
  margin: 1rem;
  display: inline-block;
}

.instruction {
  width: 100%;
  padding-block: 1rem;
  display: none;
}
.gallery:hover > .instruction,
.gallery:focus > .instruction,
.touch .instruction {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
