.gallery-container {
  margin: 0 auto;
  flex-basis: 100%;
  position: relative;
  width: max(350px, 50%);
  padding-block: 5rem;
}
.gallery-control {
  z-index: 10;
  width: 100%;
}

.gallery-control button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-control .prev {
  left: 0;
}
.gallery-control .next {
  right: 0;
}

.gallery {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.list {
  display: flex;
  width: 100%;
}

.item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  margin: 1rem;
  display: inline-block;
  scroll-snap-align: center;
}
.item img {
  margin-inline: auto;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.instruction {
  position: absolute;
  width: 100%;
  padding-block: 1rem;
  display: none;
}

.gallery:hover + .instruction,
.gallery:focus + .instruction,
.touch .instruction {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1rem;
}
